<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Описание страницы">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="{% static 'assets/img/icons/favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link href="{% static 'assets/css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/basic.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/extra.css' %}" rel="stylesheet">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
</head>
<body>
  <header class="Header">
    <div class="ControlPanel">
      <div class="wrap">
        <div class="row ControlPanel-row">
          <div class="row-block">
            <div class="row ControlPanel-rowSplit">
              <div class="row-block">
                <a class="ControlPanel-title" href="{% url 'app_catalog:free_delivery' 'free' %}">Бесплатная Доставка</a>
              </div>
              <div class="row-block hide_700"><span class="ControlPanel-title">Следите за Нами</span>
                <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                  <li class="menu-item">
                    <a class="menu-link" href="https://www.facebook.com/">
                      <img src="{% static 'assets/img/icons/socialHeader/fb.svg' %}" alt="fb.svg"/></a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="https://twitter.com/">
                      <img src="{% static 'assets/img/icons/socialHeader/tw.svg' %}" alt="tw.svg"/></a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="https://www.instagram.com/">
                      <img src="{% static 'assets/img/icons/socialHeader/in.svg' %}" alt="in.svg"/></a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="https://ru.pinterest.com/">
                      <img src="{% static 'assets/img/icons/socialHeader/pt.svg' %}" alt="pt.svg"/></a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="https://www.mail.com/">
                      <img src="{% static 'assets/img/icons/socialHeader/mail.svg' %}" alt="mail.svg"/></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <nav class="row-block">
            <div class="row ControlPanel-rowSplit">
              <div class="row-block">
                {% if request.user.is_authenticated %}
                  <p>
                    <a class="ControlPanel-title" href="{% url 'account_detail' %}">Личный кабинет</a> /
                    <a class="ControlPanel-title" href="{% url 'logout' %}">Выйти</a>
                  </p>
                {% else %}
                  <p>
                    <a class="ControlPanel-title" href="{% url 'login' %}">Войти</a> /
                    <a class="ControlPanel-title" href="{% url 'register' %}">Зарегистрироваться</a>
                  </p>
                {% endif %}
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!--+div.menuModal#navigate
      //    +menu([
      //        ['Главная','index.html'],
      //        ['Портфолио','index.html'],
      //        ['Мои проекты','index.html'],
      //        ['Контакты','index.html']
      //    ], page === 'article'? 'Портфолио': 'Главная')._main

      block
      -->
    </div>
    <div class="wrap">
      <div class="row Header-rowMain">
        <div class="row-block Header-logo">
          <a class="logo" href="{% url 'app_catalog:index' %}">
            <img class="logo-image" src="{% static 'assets/img/logo.png' %}" alt="logo.png"/></a>
        </div>
        <nav class="row-block row-block_right Header-menu">
          <div class="menuModal" id="navigate">
            <ul class="menu menu_main">
              <li class="menu-item"><a class="menu-link" href="{% url 'app_catalog:index' %}">Главная</a>
              </li>
              <li class="menu-item"><a class="menu-link" href="{% url 'app_catalog:catalog' %}">Товары</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row-block">
          <div class="CartBlock">
              <a class="CartBlock-block" href="{% url 'app_cart:cart_detail' %}">
                  <img class="CartBlock-img" src="{% static 'assets/img/icons/cart.svg' %}" alt="cart.svg"/>
                  <span class="CartBlock-amount">{{ cart|length }}</span></a>
            <div class="CartBlock-block"><span class="CartBlock-price">{{ cart.total_price }}$</span>
            </div>
          </div>
        </div>
        <div class="row-block Header-trigger"><a class="menuTrigger" href="#navigate">
            <div class="menuTrigger-content">Показать навигацию
            </div><span></span><span></span><span></span></a>
        </div>
      </div>
    </div>
    <div class="Header-searchWrap">
      <div class="wrap">
        <div class="Header-categories">
          <div class="CategoriesButton">
            <div class="CategoriesButton-title">
              <div class="CategoriesButton-icon"><img src="{% static 'assets/img/icons/allDep.svg' %}" alt="allDep.svg"/>
              </div><span class="CategoriesButton-text">Все Категории</span>
              <div class="CategoriesButton-arrow">
              </div>
            </div>
            <div class="CategoriesButton-content">
              {% for category in categories %}
                <div class="CategoriesButton-link"><a href="{{ category.get_absolute_url }}">
                  {% if category.icon %}
                    <div class="CategoriesButton-icon"><img src="{{ category.icon.url }}" alt="1.svg"/></div>
                  {% endif %}
                  <span class="CategoriesButton-text">{{ category.title }}</span></a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="Header-searchLink"><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>
        </div>
        <div class="Header-search">
          <div class="search">
            <form class="form form_search" action="{% url 'app_catalog:catalog' %}" method="get">
              {% csrf_token %}
              {{ product_form.title }}
              <button class="search-button" type="submit" id="search">
                <img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>Поиск
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% block content %}{% endblock %}
  <footer class="Footer">
    <div class="wrap">
      <div class="row Footer-main">
        <div class="row-block">
          <a class="logo Footer-logo" href="{% url 'app_catalog:index' %}">
            <img class="logo-image" src="{% static 'assets/img/logo_footer.png' %}" alt="logo_footer.png"/></a>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid
            unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
          </p>
          <ul class="menu menu_img menu_smallImg Footer-menuSoc">
            <li class="menu-item">
              <a class="menu-link" href="https://www.facebook.com/">
                <img src="{% static 'assets/img/icons/socialFooter/fb.svg' %}" alt="fb.svg"/></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="https://twitter.com/">
                <img src="{% static 'assets/img/icons/socialFooter/tw.svg' %}" alt="tw.svg"/></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="https://www.instagram.com/">
                <img src="{% static 'assets/img/icons/socialFooter/in.svg' %}" alt="in.svg"/></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="https://ru.pinterest.com/">
                <img src="{% static 'assets/img/icons/socialFooter/pt.svg' %}" alt="pt.svg"/></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="https://www.mail.com/">
                <img src="{% static 'assets/img/icons/socialFooter/mail.svg' %}" alt="mail.svg"/></a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">Полезные ссылки
          </strong>
          <ul class="menu menu_vt Footer-menu">
            <li class="menu-item"><a class="menu-link" href="{% url 'app_catalog:index' %}">Главная</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="{% url 'app_catalog:catalog' %}">Каталог</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="{% url 'app_catalog:free_delivery' 'free' %}">Бесплатная доставка</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="{% url 'app_cart:cart_detail' %}">Корзина</a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">Мой аккаунт</strong>
          <ul class="menu menu_vt Footer-menu">
            {% for category in categories|slice:":6" %}
              <li class="menu-item">
                <a class="menu-link" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">Контакты
          </strong>
          <p>Телефон: 8.800.200.600<br>Email: Support@ninzio.com<br>Skype: techno<br>Адрес: New York, north<br>Avenue 26/7<br>0057
          </p>
        </div>
      </div>
    </div>
    <div class="Footer-copy">
      <div class="wrap">
        <div class="row row_space">
          <div class="row-block">
            © Copyright&#32;<a href="{% url 'app_catalog:index' %}">Megano Store.</a>&#32;All rights reserved.
          </div>
          <div class="row-block"><span>Принимаемые Платежи</span>
            <div class="Footer-payments">
              <div><img src="{% static 'assets/img/payments/visa.png' %}" alt="visa.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/mastercard.png' %}" alt="mastercard.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/paypal.png' %}" alt="paypal.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/american.png' %}" alt="american.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/electron.png' %}" alt="electron.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/maestro.png' %}" alt="maestro.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/delta.png' %}" alt="delta.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/e.png' %}" alt="e.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/dk.png' %}" alt="dk.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    $(document).ready(function(){
      {% include "app_catalog/js/csrf_safe_method.js" %}
      {% block domready %}{% endblock %}
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
</body>
</html>