<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <span>Online Store</span>
        <div>
            <ul>
                <li><a href="#">Главная страница</a></li>
                <li><a href="#">Каталог</a></li>
            </ul>
        </div>
        <div>
            {% if request.user.is_authenticated %}
                <span>Здравствуйте {{ request.user.first_name }}</span>
                <ul>
                    <li><a href="#">Личный кабинет</a></li>
                    <li><a href="#">Выйти</a></li>
                </ul>
            {% else %}
                <span>Вы не авторизованы на нашем сайте.</span>
                <ul>
                    <li><a href="#">Войти</a></li>
                    <li><a href="#">Зарегистрироваться</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
    <div>
        <footer>
            <span>Online Store</span>
        </footer>
    </div>
</body>
</html>