<!DOCTYPE html>
<html lang="en">
<head>
  {% extends "middle_base.html" %}
  {% load static %}
  <meta charset="UTF-8">
  <title>{% block title %}Корзина{% endblock %}</title>
</head>
<body>
  {% block mb_content %}
    <div class="Section">
      <div class="wrap">
        {% if cart %}
          <div class="form Cart">
            {% for item in cart %}
              {% with product=item.product %}
                <div class="Cart-product">
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict">
                      <a class="Cart-pict" href="{{ product.get_absolute_url }}">
                        <img class="Cart-img" src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="card.jpg"/>
                      </a>
                    </div>
                    <div class="Cart-block Cart-block_info">
                      <a class="Cart-title" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                      <div class="Cart-desc">{{ product.description|slice:50 }}...</div>
                    </div>
                    <div class="Cart-block Cart-block_price">
                      <div class="Cart-price" id="item-price">{{ item.total_price }}$</div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_seller">
                      <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->

                    </div>
                    <div class="Cart-block Cart-block_amount">
                      <div class="Cart-amount">
                        <div class="Amount">
                          <button class="Amount-remove Amount-update" type="button" data-id="{{ product.id }}"></button>
                          <input class="Amount-input form-input" id="form-input{{ product.id }}" name="amount" type="text"
                                 value="{{ item.quantity }}"/>
                          <button class="Amount-add Amount-update" type="button" data-id="{{ product.id }}"></button>
                        </div>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_delete">
                      <a class="Cart-delete" href="{% url 'app_cart:cart_remove' product.id %}">
                        <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg"/></a>
                    </div>
                  </div>
                </div>
              {% endwith %}
            {% endfor %}
            <div class="Cart-total">
              <div class="Cart-block Cart-block_total">
                <strong class="Cart-title">Итого:</strong>
                <span class="Cart-price" id="cart-price">{{ cart.total_price }}$</span>
              </div>
              <div class="Cart-block">
                <a class="btn btn_success btn_lg" href="{% if request.user.is_authenticated %}
                {% url 'app_ordering:order_create' %}{% else %}{% url 'app_ordering:register' %}{% endif %}">
                  Оформить заказ</a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="Cart-total">
            <div class="Cart-block Cart-block_total">
              <strong class="Cart-title">Ваша корзина пуста.</strong>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock %}
  {% block domready %}
    {% include "app_cart/js/item_quantity_ajax.js" %}
  {% endblock %}
</body>
</html>