{% load static %}
<div class="Card"><a class="Card-picture" href="{{ product.get_absolute_url }}">
  {% if product.image %}
    <img src="{{ product.image.url }}" alt="card.jpg"/></a>
  {% endif %}
  <div class="Card-content">
    <strong class="Card-title"><a href="{{ product.get_absolute_url }}">
      {{ product.title }}</a></strong>
    <div style="font-size: 16px; color: red">
      {% if not product.in_stock %}Нет в наличии{% endif %}
    </div>
    <div style="font-size: 16px; color: green">
      {% if product.free_delivery %}Бесплатная доставка{% endif %}
    </div>
    <a href="{{ product.get_absolute_url }}#reviews">Отзывы: {{ product.num_reviews }}</a>
    <div class="Card-description">
      <div class="Card-cost"><span class="Card-price">${{ product.price }}</span>
      </div>
      <div class="Card-category">
        {% for category in product.categories.all %}
          {{ category.title }} /
        {% endfor %}
      </div>
      {% if product.in_stock %}
        <div class="Card-hover">
          <a class="Card-btn" href="{% url 'app_cart:cart_add' product.id %}">
            <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
        </div>
      {% endif %}
    </div>
  </div>
</div>