<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "middle_base.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{{ product.title }}{% endblock %}</title>
</head>
<body>
  {% block mb_content %}
    <div class="Section">
      <div class="wrap">
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <div class="ProductCard-photo">
                {% if product.image %}
                  <img src="{{ product.image.url }}" alt="bigGoods.png"/>
                {% endif %}
              </div>
              <div class="ProductCard-picts">
                {% if product.image %}
                  <a class="ProductCard-pict ProductCard-pict_ACTIVE" href="assets/img/content/home/bigGoods.png">
                      <img src="{{ product.image.url }}" alt="bigGoods.png"/></a>
                {% endif %}
                  <a class="ProductCard-pict" href="assets/img/content/home/slider.png">
                      <img src="{% static 'assets/img/content/home/slider.png' %}" alt="slider.png"/></a>
                  <a class="ProductCard-pict" href="assets/img/content/home/videoca.png">
                      <img src="{% static 'assets/img/content/home/videoca.png' %}" alt="videoca.png"/></a>
              </div>
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h2 class="ProductCard-title">
                  {{ product.title }}
                </h2>
                <div class="ProductCard-info">
                  <div class="ProductCard-cost">
                    <div class="ProductCard-price">${{ product.price }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="ProductCard-text">
                <ul>
                  <li>Производитель: {{ product.fabricator.title }}</li>
                  <li>Продавец: {{ product.seller.name }}</li>
                  {% if product.in_stock %}
                    <li>Товар есть в магазине</li>
                  {% else %}
                    <li style="color: red">Товара нет в магазние</li>
                  {% endif %}
                  {% if product.free_delivery %}
                    <li>Бесплатная доставка</li>
                  {% else %}
                    <li>Платная доставка</li>
                  {% endif %}
                  <li>Дата публикации: {{ product.added_at }}</li>
                  <li>Количество покупок: {{ product.num_purchases }}</li>
                </ul>
              </div>
              {% if product.in_stock %}
                <form action="{% url 'app_cart:cart_add' product.id %}" method="post">
                  {% csrf_token %}
                  <div class="ProductCard-cart">
                    <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                      <div class="Amount Amount_product">
                        <button class="Amount-remove" type="button">
                        </button>
                        {{ cart_product_form.quantity }}
                        <button class="Amount-add" type="button">
                        </button>
                      </div>
                    </div>
                    <div class="ProductCard-cartElement">
                      <button class="btn btn_primary" type="submit">
                        <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/>
                        <span class="btn-content">Добавить в корзину</span>
                      </button>
                    </div>
                  </div>
                </form>
              {% endif %}
              <div class="ProductCard-footer">
                <div class="ProductCard-tags">
                  <strong class="ProductCard-tagsTitle">Тэги:</strong>
                  {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a> /
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="Tabs Tabs_default">
            <div class="Tabs-links">
              <a class="Tabs-link_ACTIVE Tabs-link" href="#description"><span>Описание</span></a>
              <a class="Tabs-link" href="#addit"><span>Доп. информация</span></a>
              <a class="Tabs-link" href="#reviews"><span>Отзывы ({{ num_reviews }})</span></a>
            </div>
            <div class="Tabs-wrap">
              <div class="Tabs-block" id="description">
                <h2>{{ product.title }}
                </h2>
                <p>{{ product.description }}</p>
                  {% if product.image %}
                    <img class="pict pict_right" src="{{ product.image.url }}" alt="bigGoods.png"/>
                  {% endif %}
                <ul>
                  {% for point in descr_points %}
                    <li>{{ point.content }}</li>
                  {% endfor %}
                </ul>
                <div class="clearfix">
                </div>
                <div class="table">
                  <table>
                    <tr>
                      <th>Характеристика
                      </th>
                      <th>Значение
                      </th>
                    </tr>
                    {% for point in add_info_points %}
                      <tr>
                        <td>{{ point.characteristic }}</td>
                        <td>{{ point.value }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="Tabs-block" id="sellers">
                <div class="Categories Categories_product">
                </div>
              </div>
              <div class="Tabs-block" id="addit">
                <div class="Product-props">
                  {% for point in add_info_points %}
                    <div class="Product-prop">
                      <strong>{{ point.characteristic }}
                      </strong><span> {{ point.value }}</span>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="Tabs-block" id="reviews">
                <header class="Section-header">
                  <h3 class="Section-title">Отзывы: {{ reviews_count }}
                  </h3>
                </header>
                <div class="Comments" id="comments">
                  {% include "app_catalog/reviews_ajax.html" %}
                </div>
                <div id="pre_loader"></div>
                {% if num_reviews > r_per_page %}
                  <div style="margin-top: 25px;">
                    <button class="btn btn_muted" id="lazy_more">Показать Ещё</button>
                  </div>
                {% endif %}
                <header class="Section-header Section-header_product">
                  <h3 class="Section-title">Добавить отзыв
                  </h3>
                </header>
                <div class="Tabs-addComment">
                  {% if auth_error %}
                    <div style="color: #f26d7d; display: block; margin-top: 20px;">
                      Вам ннжно <a href="{% url 'login' %}">авторизироваться</a>, чтобы оставить отзыв. Если у вас
                      нет аккаунта <a href="{% url 'register' %}">зарегистрируйтесь</a>.
                    </div>
                  {% endif %}
                  {% if review_form.text.errors %}
                    <div style="color: #f26d7d; display: block; margin-top: 20px;">{{ review_form.text.errors }}</div>
                  {% endif %}
                  {% if review_form.name.errors %}
                    <div style="color: #f26d7d; display: block; margin-top: 20px;">{{ review_form.name.errors }}</div>
                  {% endif %}
                  {% if review_form.email.errors %}
                    <div style="color: #f26d7d; display: block; margin-top: 20px;">{{ review_form.email.errors }}</div>
                  {% endif %}
                  <form class="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      {{ review_form.text }}
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="row-block">
                          {{ review_form.name }}
                        </div>
                        <div class="row-block">
                          {{ review_form.email }}
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn_muted" type="submit">Добавить Отзыв</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
  {% block domready %}
    {% include "app_catalog/js/reviews_ajax.js" %}
  {% endblock %}
</body>
</html>