<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "navigation.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}История заказов{% endblock %}</title>
</head>
<body>
  {% block account_content %}
  <div class="Orders">
    {% for order in orders %}
    <div class="Order Order_anons">
      <div class="Order-personal">
        <div class="row">
          <div class="row-block"><a class="Order-title" href="{% url 'order_detail' order.id %}">Заказ&#32;
              <span class="Order-numberOrder">№{{ order.id }}</span>&#32;от&#32;
              <span class="Order-dateOrder">{{ order.created }}</span></a>
          </div>
          <div class="row-block">
            <div class="Order-info Order-info_delivery">
              <div class="Order-infoType">Тип доставки:
              </div>
              <div class="Order-infoContent">{{ order.delivery_method.title }}</div>
            </div>
            <div class="Order-info Order-info_pay">
              <div class="Order-infoType">Оплата:
              </div>
              <div class="Order-infoContent">
              {% if order.payment_method == '1' %}Онлайн картой{% else %}Онлайн со случайного чужого счета{% endif %}
              </div>
            </div>
            <div class="Order-info">
              <div class="Order-infoType">Общая стоимость:
              </div>
              <div class="Order-infoContent">
                  <span class="Order-price">{{ order.total_cost }}$</span>
              </div>
            </div>
            <div class="Order-info Order-info_status">
              <div class="Order-infoType">Статус:
              </div>
              <div class="Order-infoContent">
                {% if order.paid == None %}Ожидает оплаты{% elif order.paid %}Оплачен{% else %}Не оплачен{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      Вы еще не сделали ни одного заказа.
    {% endfor %}
  </div>
  <div class="Pagination">
    <div class="Pagination-ins">
      <a class="Pagination-element Pagination-element_prev"
         href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}
         {% else %}?page={{ page_obj.paginator.num_pages }}{% endif %}">
        <img src="{% static 'assets/img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/></a>
      {% for p in page_obj.paginator.page_range %}
        <a class="Pagination-element {% if page_obj.number == p %}Pagination-element_current{% endif %}"
           href="?page={{ p }}">
          <span class="Pagination-text">{{ p }}</span>
        </a>
      {% endfor %}
      <a class="Pagination-element Pagination-element_prev"
         href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}?page=1{% endif %}">
        <img src="{% static 'assets/img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/></a>
    </div>
  </div>
  {% endblock %}
</body>
</html>