<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    <title>{% block title %}Сбросьте свой пароль{% endblock %}</title>
</head>
<body>
  {% block content %}
    <h1>Сбросьте свой пароль</h1>
    {% if validlink %}
      <p>Пожалуйста введите свой пароль дважды:</p>
      <form action="." method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <p><input type="submit" value="Изменить пароль"/></p>
      </form>
    {% else %}
      <p>Ссылка на сброс пароля была неправильной, потому что она уже использована.
          Пожалуйста запросите сброс пароля еще раз.</p>
    {% endif %}
  {% endblock %}
</body>
</html>