<form class="form Profile-form" action="#" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="row-block">
      <div class="form-group">
        <label class="form-label" for="avatar">Аватар
        </label>
        {% if request.user.is_authenticated and request.user.avatar %}
          <div class="Profile-avatar">
            <div class="Profile-img"><img src="{{ request.user.avatar.url }}" alt="card.jpg"/>
            </div>
            <label class="Profile-fileLabel" for="avatar">Выберите аватар
            </label>
            {{ form.avatar }}
          </div>
        {% else %}
          <div class="Profile-avatar Profile-avatar_noimg">
            <div class="Profile-img"><img src="assets/img/#.png" alt="#.png"/>
            </div>
            <label class="Profile-fileLabel" for="avatar">Выберите аватар
            </label>
            {{ form.avatar }}
          </div>
        {% endif %}
      </div>
      <div class="form-group">
        <label class="form-label" for="name">ФИО
        </label>
        {{ form.full_name }}
        {% if form.full_name.errors %}
          <div style="font-size: 14px; color: #f26d7d;">{{ form.full_name.errors }}</div>
        {% endif %}
      </div>
    </div>
    <div class="row-block">
      <div class="form-group">
        <label class="form-label" for="phone">Телефон
        </label>
        {{ form.telephone }}
        {% if form.telephone.errors %}
          <div style="font-size: 14px; color: #f26d7d;">{{ form.telephone.errors }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label class="form-label" for="mail">E-mail
        </label>
        {{ form.email }}
        {% if form.email.errors %}
          <div style="font-size: 14px; color: #f26d7d;">{{ form.email.errors }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Пароль
        </label>
        {{ form.password1 }}
        {% if form.password1.errors %}
          <div style="font-size: 14px; color: #f26d7d;">{{ form.password1.errors }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label class="form-label" for="passwordReply">Подтверждение пароля
        </label>
        {{ form.password2 }}
        {% if form.password2.errors %}
          <div style="font-size: 14px; color: #f26d7d;">{{ form.password2.errors }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <div class="Profile-btn">
          <button class="btn btn_success" type="submit">Сохранить
          </button>
        </div>
        {% if success %}
          <div class="Profile-success">Профиль успешно сохранен</div>
        {% endif %}
      </div>
    </div>
  </div>
</form>