<div class="Order-personal">
  <div class="row">
    <div class="row-block">
      <div class="Order-info">
        <div class="Order-infoType">ФИО:
        </div>
        <div class="Order-infoContent" id="name-output"></div>
      </div>
      <div class="Order-info">
        <div class="Order-infoType">Телефон:
        </div>
        <div class="Order-infoContent" id="phone-output"></div>
      </div>
      <div class="Order-info">
        <div class="Order-infoType">E-mail:
        </div>
        <div class="Order-infoContent" id="mail-output"></div>
      </div>
    </div>
    <div class="row-block">
      <div class="Order-info Order-info_delivery">
        <div class="Order-infoType">Тип доставки:
        </div>
        <div class="Order-infoContent" id="delivery-output"></div>
      </div>
      <div class="Order-info">
        <div class="Order-infoType">Город:
        </div>
        <div class="Order-infoContent" id="city-output"></div>
      </div>
      <div class="Order-info">
        <div class="Order-infoType">Адрес:
        </div>
        <div class="Order-infoContent" id="address-output"></div>
      </div>
      <div class="Order-info Order-info_pay">
        <div class="Order-infoType">Оплата:
        </div>
        <div class="Order-infoContent" id="payment-output"></div>
      </div>
    </div>
  </div>
</div>