<div class="Order-personal">
  <div class="row">
    <div class="row-block">
      <div class="Order-info">
        <div class="Order-infoType">ФИО:
        </div>
        <div class="Order-infoContent" id="name-output"></div>
      </div>
      <div class="Order-info">
        <div class="Order-infoType">Телефон:
        </div>
        <div class="Order-infoContent" id="phone-output"></div>
      </div>
      <div class="Order-info">
        <div class="Order-infoType">E-mail:
        </div>
        <div class="Order-infoContent" id="mail-output"></div>
      </div>
    </div>
    <div class="row-block">
      <div class="Order-info Order-info_delivery">
        <div class="Order-infoType">Тип доставки:
        </div>
        <div class="Order-infoContent" id="delivery-output"></div>
      </div>
      <div class="Order-info">
        <div class="Order-infoType">Город:
        </div>
        <div class="Order-infoContent" id="city-output"></div>
      </div>
      <div class="Order-info">
        <div class="Order-infoType">Адрес:
        </div>
        <div class="Order-infoContent" id="address-output"></div>
      </div>
      <div class="Order-info Order-info_pay">
        <div class="Order-infoType">Оплата:
        </div>
        <div class="Order-infoContent" id="payment-output"></div>
      </div>
    </div>
  </div>
</div>
<div class="Cart Cart_order">
  {% for item in cart %}
    {% with product=item.product %}
      <div class="Cart-product">
        <div class="Cart-block Cart-block_row">
          <div class="Cart-block Cart-block_pict">
            <a class="Cart-pict" href="#">
              <img class="Cart-img" src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="card.jpg"/>
            </a>
          </div>
          <div class="Cart-block Cart-block_info">
            <a class="Cart-title" href="#">{{ product.title }}</a>
            <div>
              {% if not product.in_stock %}
                <span style="font-size: 16px; color: red">Нет в наличии</span>
              {% endif %}
              {% if item.free_delivery %}
                <span style="font-size: 16px; color: green">Бесплатная доставка</span>
              {% endif %}
            </div>
            <div class="Cart-desc">{{ product.description|slice:50 }}...</div>
          </div>
          <div class="Cart-block Cart-block_price">
            <div class="Cart-price">{{ item.total_price }}$
            </div>
          </div>
        </div>
        <div class="Cart-block Cart-block_row">
          <div class="Cart-block Cart-block_amount">{{ item.quantity }} шт.
          </div>
        </div>
      </div>
    {% endwith %}
  {% endfor %}
  <div class="Cart-total">
    <div class="Cart-block Cart-block_total">
      <strong class="Cart-title">Доставка:
      </strong><span class="Cart-price" id="delivery-price"></span>
    </div>
  </div>
  <div class="Cart-total">
    <div class="Cart-block Cart-block_total">
      <strong class="Cart-title">Итого:
      </strong><span class="Cart-price" id="order-price"></span>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label" for="comment">Коментарий к заказу
    </label>
    {{ form.comment }}
  </div>
  <div class="Cart-total">
    <div class="Cart-block">
      <button class="btn btn_primary btn_lg" type="submit">Оплатить
      </button>
    </div>
  </div>
  <div style="color: #f26d7d; display: block; margin-top: 20px;" id="order-error"></div>
</div>