<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "middle_base.html" %}
    <meta charset="UTF-8">
    <title>{% block title %}Оплата{% endblock %}</title>
</head>
<body>
  {% block mb_content %}
    <div class="Section">
      <div class="wrap">
        <form class="form Payment" action="#" method="post">
          {% csrf_token %}
          <div class="Payment-card">
            <div class="form-group">
              <label class="form-label">{{ label }}
              </label>
              {% include "app_ordering/payment_ajax.html" %}
              {% if form.card_num.errors %}
                <div style="font-size: 14px; color: #f26d7d;">{{ form.card_num.errors }}</div>
              {% endif %}
            </div>
            {% if someone %}
              <div class="form-group">
                <a class="btn btn_success" id="generate-number" href="#">Сгенирировать случайный счет</a>
              </div>
            {% endif %}
          </div>
          <div class="Payment-pay">
            <button class="btn btn_primary">Оплатить</button>
          </div>
        </form>
      </div>
    </div>
  {% endblock %}
  {% block domready %}
    {% include "app_ordering/js/payment_ajax.js" %}
  {% endblock %}
</body>
</html>